body {
    background-image: url("imgs/BrushedBackground.png");
    background-size: cover;
 
}


#mainHeader h1{

    color: white;
    font-weight: 100;
    text-align: center;
    font-size: 4rem;

}

.light{
    -webkit-text-stroke: 4px white;
}


button {
    margin-top: 50px;
}

@media (max-width: 1200px) {
    #mainHeader h1{
        font-size: 3rem;
    }
}

@media (max-width: 596px) {
    #mainHeader h1{
        font-size: 2rem;
    }
}


#mainHeader div {
    background-color: black;

}


